In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
tr_df = pd.read_csv('gdrive/My Drive/train.csv')

In [ ]:
tr_df.drop(tr_df.index[250000:], inplace=True)

In [ ]:
tr_df.head()

,PRODUCT_ID,PRODUCT_NAME,PRODUCT_CONDITION,CATEGORY,PRODUCT_BRAND,SHIPPING_AVAILABILITY,PRODUCT_DESCRIPTION,PRODUCT_PRICE
0,952289,Lipstick queen reserved maiwu,4,Beauty/Makeup/Lips,NaN,0,Lipstick Queen Jean Queen and medieval lipstic...,20.0
1,121903,Garbage Pail Kids blu ray,3,Electronics/Media/Blu-Ray,NaN,1,26Plays great. Tested. Watched once. No scratc...,15.0
2,280534,green floam/slime,1,Kids/Toys/Arts & Crafts,NaN,0,"-6 oz, dragon fruit scented - KEEP OUT OF REAC...",8.0
3,787961,Wallet beige monogram,1,Women/Women's Accessories/Wallets,NaN,0,Wallet brand new never used,31.0
4,479292,Triangle Bike Or Body Blue Light,3,Sports & Outdoors/Outdoors/Other,NaN,0,"Triangle Bike Or Body Blue Light, steady or fl...",8.0

In [ ]:
tr_price = tr_df['PRODUCT_PRICE']
tr_df.drop({'PRODUCT_PRICE'}, axis=1, inplace=True)

In [ ]:
tr_price.to_csv('gdrive/My Drive/Pre_CountVectorizer(train_y).csv')

In [ ]:
tdf = pd.read_csv('gdrive/My Drive/test.csv')

In [ ]:
tdf.iloc[10995]

PRODUCT_ID                                                          243845
PRODUCT_NAME                             Authentic Blue Beats Studio Wired
PRODUCT_CONDITION                                                        3
CATEGORY                   Electronics/TV, Audio & Surveillance/Headphones
PRODUCT_BRAND                                                          NaN
SHIPPING_AVAILABILITY                                                    0
PRODUCT_DESCRIPTION      These beats are amazing quality and rich sound...
Name: 10995, dtype: object

In [ ]:
hansal = tdf['PRODUCT_ID']

In [ ]:
tdf.shape

(222381, 7)

In [ ]:
hansal.to_csv('gdrive/My Drive/Test_prod_id.csv')

In [ ]:
tr_df.shape

(250000, 7)

In [ ]:
df.head()

,PRODUCT_ID,PRODUCT_NAME,PRODUCT_CONDITION,CATEGORY,PRODUCT_BRAND,SHIPPING_AVAILABILITY,PRODUCT_DESCRIPTION
0,777341,F/ship 4 Totoro Washi + 1 pen,1,Handmade/Paper Goods/Stationery,NaN,1,This listing is for all 4 Totoro washi tape fo...
1,1463629,UCLA Men's Bundle + Shorts,1,Women/Other/Other,Adidas,1,7 items. 1: XL. 2: 2XL. 3:2XL. 4: XL. 5: 2XL. ...
2,350669,Listing for lol,1,Beauty/Makeup/Lips,NaN,1,- sunglasses and necklace :)
3,310222,25 pcs kawaii sticker flakes,1,Kids/Toys/Arts & Crafts,NaN,1,I ordered a bunch of stickers so you will reci...
4,759257,Chanel Mini Lipgloss Set,2,Beauty/Makeup/Lips,Chanel,1,Brand new never used authentic Mini Lipgloss g...

In [ ]:
df = pd.concat([tr_df, df], ignore_index=True, axis=0)

In [ ]:
df.shape

(472381, 7)

In [ ]:
# df_id=df['PRODUCT_ID']

In [ ]:
# df_id.head()

In [ ]:
# type(df_id.to_list())

In [ ]:
df.drop(axis="columns", labels="PRODUCT_ID", inplace=True)

In [ ]:
df[['CATEGORY_1','CATEGORY_2','CATEGORY_3','CATEGORY_4','CATEGORY_5']]=df.CATEGORY.str.split("/",expand=True).loc[:,:4]

In [ ]:
df.head()

,PRODUCT_NAME,PRODUCT_CONDITION,CATEGORY,PRODUCT_BRAND,SHIPPING_AVAILABILITY,PRODUCT_DESCRIPTION,CATEGORY_1,CATEGORY_2,CATEGORY_3,CATEGORY_4,CATEGORY_5
0,Lipstick queen reserved maiwu,4,Beauty/Makeup/Lips,NaN,0,Lipstick Queen Jean Queen and medieval lipstic...,Beauty,Makeup,Lips,None,None
1,Garbage Pail Kids blu ray,3,Electronics/Media/Blu-Ray,NaN,1,26Plays great. Tested. Watched once. No scratc...,Electronics,Media,Blu-Ray,None,None
2,green floam/slime,1,Kids/Toys/Arts & Crafts,NaN,0,"-6 oz, dragon fruit scented - KEEP OUT OF REAC...",Kids,Toys,Arts & Crafts,None,None
3,Wallet beige monogram,1,Women/Women's Accessories/Wallets,NaN,0,Wallet brand new never used,Women,Women's Accessories,Wallets,None,None
4,Triangle Bike Or Body Blue Light,3,Sports & Outdoors/Outdoors/Other,NaN,0,"Triangle Bike Or Body Blue Light, steady or fl...",Sports & Outdoors,Outdoors,Other,None,None

In [ ]:
df.drop(axis='columns',labels=['CATEGORY','CATEGORY_4','CATEGORY_5'],inplace=True)

In [ ]:
brands = df['PRODUCT_BRAND'].unique().tolist()

In [ ]:
null_idx = df.index[df['PRODUCT_BRAND'].isna()]

In [ ]:
df.shape

(472381, 8)

In [ ]:
c=0
for i in null_idx:
  if(c%10000==0):
    print(c) 
  flag = 0
  c=c+1
  myStr = str(df['PRODUCT_DESCRIPTION'][i]) + ' ' + str(df['PRODUCT_NAME'][i])
  # print(myStr)
  for name in brands[1:]:
    if(name in myStr):
      df.at[i, 'PRODUCT_BRAND'] = name
      flag=1
      break

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000

In [ ]:
(df['PRODUCT_BRAND']).fillna('Unknown', inplace=True)

In [ ]:
import re

In [ ]:
c = 0
for i in range(df.shape[0]):
  if(c%10000==0):
    print(c)
  c = c+1
  temp = str(df['CATEGORY_1'][i])
  temp = re.sub('[^A-Za-z0-9]+',' ',temp)
  temp = temp.lower()
  temp = temp.split()
  temp = '_'.join(temp)
  df.at[i, 'CATEGORY_1'] = temp

  temp = str(df['CATEGORY_2'][i])
  temp = re.sub('[^A-Za-z0-9]+',' ',temp)
  temp = temp.lower()
  temp = temp.split()
  temp = '_'.join(temp)
  df.at[i, 'CATEGORY_2'] = temp

  temp = str(df['CATEGORY_3'][i])
  temp = re.sub('[^A-Za-z0-9]+',' ',temp)
  temp = temp.lower()
  temp = temp.split()
  temp = '_'.join(temp)
  df.at[i, 'CATEGORY_3'] = temp

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000

In [ ]:
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [ ]:
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

lemmatizer=WordNetLemmatizer()
c=0
for i in range(df.shape[0]):
    if(c%10000==0):
      print(c)
    c = c+1
    temp = str(df['PRODUCT_DESCRIPTION'][i])
    temp = re.sub('[^a-zA-Z0-9]', ' ', temp)
    temp = temp.lower()
    temp = temp.split()
    temp = [lemmatizer.lemmatize(word) for word in temp if not word in set(stopwords.words('english')) and word!='rm']
    temp = ' '.join(temp)
    df.at[i, 'PRODUCT_DESCRIPTION'] = temp

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000

In [ ]:
lemmatizer=WordNetLemmatizer()
c=0
for i in range(df.shape[0]):
    if(c%10000==0):
      print(c)
    c = c+1
    temp = str(df['PRODUCT_NAME'][i])
    temp = re.sub('[^a-zA-Z0-9]', ' ', temp)
    temp = temp.lower()
    temp = temp.split()
    temp = [lemmatizer.lemmatize(word) for word in temp if not word in set(stopwords.words('english')) and word!='rm']
    temp = ' '.join(temp)
    df.at[i, 'PRODUCT_NAME'] = temp

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000

In [ ]:
df.head()

,PRODUCT_NAME,PRODUCT_CONDITION,PRODUCT_BRAND,SHIPPING_AVAILABILITY,PRODUCT_DESCRIPTION,CATEGORY_1,CATEGORY_2,CATEGORY_3,PRODUCT_DETAILS
0,lipstick queen reserved maiwu,4,Lipstick Queen,0,lipstick queen jean queen medieval lipstick us...,beauty,makeup,lips,Lipstick queen reserved maiwu beauty makeup li...
1,garbage pail kid blu ray,3,Unknown,1,26plays great tested watched scratch,electronics,media,blu_ray,Garbage Pail Kids blu ray electronics media bl...
2,green floam slime,1,CHI,0,6 oz dragon fruit scented keep reach young chi...,kids,toys,arts_crafts,green floam/slime kids toys arts_crafts CHI 6 ...
3,wallet beige monogram,1,Unknown,0,wallet brand new never used,women,women_s_accessories,wallets,Wallet beige monogram women women_s_accessorie...
4,triangle bike body blue light,3,Triangl,0,triangle bike body blue light steady flashing ...,sports_outdoors,outdoors,other,Triangle Bike Or Body Blue Light sports_outdoo...

In [ ]:
temp=[]
c=0
for i in range(df.shape[0]):
  c=c+1
  if(c%100000==0):
    print(c)
  temp.append(str(df['PRODUCT_NAME'][i]) +" "
            +str(df['PRODUCT_DESCRIPTION'][i]))

100000
200000
300000
400000

In [ ]:
df['PRODUCT_DETAILS']=temp

In [ ]:
(df['PRODUCT_BRAND']=='chi').sum()

0

In [ ]:
df.head()

,PRODUCT_NAME,PRODUCT_CONDITION,PRODUCT_BRAND,SHIPPING_AVAILABILITY,PRODUCT_DESCRIPTION,CATEGORY_1,CATEGORY_2,CATEGORY_3,PRODUCT_DETAILS
0,lipstick queen reserved maiwu,4,Lipstick Queen,0,lipstick queen jean queen medieval lipstick us...,beauty,makeup,lips,lipstick queen reserved maiwu lipstick queen j...
1,garbage pail kid blu ray,3,Unknown,1,26plays great tested watched scratch,electronics,media,blu_ray,garbage pail kid blu ray 26plays great tested ...
2,green floam slime,1,CHI,0,6 oz dragon fruit scented keep reach young chi...,kids,toys,arts_crafts,green floam slime 6 oz dragon fruit scented ke...
3,wallet beige monogram,1,Unknown,0,wallet brand new never used,women,women_s_accessories,wallets,wallet beige monogram wallet brand new never used
4,triangle bike body blue light,3,Triangl,0,triangle bike body blue light steady flashing ...,sports_outdoors,outdoors,other,triangle bike body blue light triangle bike bo...

In [ ]:
df.to_csv('gdrive/My Drive/Pre_CountVectorizer(Tr+Test).csv')

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=1500)
X = cv.fit_transform(df['PRODUCT_DETAILS']).toarray()

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df['CATEGORY_1']=le.fit_transform(df['CATEGORY_1'])

In [ ]:
df['CATEGORY_2']=le.fit_transform(df['CATEGORY_2'])
df['CATEGORY_3']=le.fit_transform(df['CATEGORY_3'])
df['PRODUCT_BRAND']=le.fit_transform(df['PRODUCT_BRAND'])

In [ ]:
df.drop(axis='columns', labels={'PRODUCT_NAME','PRODUCT_DESCRIPTION','PRODUCT_DETAILS'},inplace=True)

In [ ]:
df=pd.concat([df,pd.DataFrame(X)],axis=1,join='inner')

In [ ]:
df = pd.read_csv('gdrive/My Drive/Pre_CountVectorizer(Tr+Test).csv')

In [ ]:
df.iloc[260995]

Unnamed: 0                                                          260995
PRODUCT_NAME                              authentic blue beat studio wired
PRODUCT_CONDITION                                                        3
PRODUCT_BRAND                                                        Beats
SHIPPING_AVAILABILITY                                                    0
PRODUCT_DESCRIPTION      beat amazing quality rich sound beat working p...
CATEGORY_1                                                     electronics
CATEGORY_2                                           tv_audio_surveillance
CATEGORY_3                                                      headphones
PRODUCT_DETAILS          authentic blue beat studio wired beat amazing ...
Name: 260995, dtype: object